.container {
    margin-bottom: 2rem;
}
.header {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1rem;
}

.company {
    font-weight: 500;
}

.date {
    margin-top: 1rem;
    display: flex;
    
}

.dot {
    display: none;
}

@media(min-width:767px) {
    .header {
        flex-direction: row;
        font-size: 1.25rem;
    }
}

@media(min-width:1060px) {
    .dot {
        display: inline;
    }
}