.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media(min-width: 767px)
 {
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .item {
    flex: 0 0 calc(100% / 3);
  }
}
