.container {
  padding-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  margin-top: 4rem;

  flex-direction: column;
  width: calc(100% - 4rem);
}

@media (min-width: 767px) {
  .page {
<<<<<<< HEAD
    width: 50%;
=======

>>>>>>> 56e4eb559b712f4f7a1c4d6cd1270b75982e4fad
  }

  .content {
    width: 50%;
    align-self: center;
  }
}
