h1, h2 {
    font-size: 1.75rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    
}

.projects {
    width: 100%;
}

.experience {
    width: 100%;
}

.contact {

}