.container {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 1rem 0 1rem 0;
    align-content: center;
    justify-content: center;
    background: white;
    z-index: 1;
}

.link {
    all:unset;
}

.link:hover {
    cursor: pointer;
    font-weight: 400;
    color: black;
}

.item1, .item2, .item3 {
    margin-right: 1rem;
    margin-left: 1rem;
}
