.container {
    display: flex;
    align-items: center;
}

.FaArrowLeft, .FaArrowRight {
    display:none;
}

@media(min-width: 767px) {
    .FaArrowLeft, .FaArrowRight {
        display: block;
        margin: 0 4% 0 4%;
    }
    
    .FaArrowLeft:hover, .FaArrowRight:hover {
        cursor: pointer;
        color: black;
    }
}