.container {
    text-align: center;
    width: 100%;
    padding: calc(40vh - 62px) 2rem 40vh 2rem;
}

.text {
    margin-bottom: 0;
}

.school, .school:link, .school:visited, .school:hover, .school:active {
    font-weight: 300;
    color: #ef1515;
}

.school:hover {
    color: #ff3f3f;
    cursor: pointer;
}

.productDesign, .programming {
    color: #12c3e8;
}



.lol {
    font-size: .5rem;
}


@media(min-width: 767px) {
    .container {
        padding: 50vh 10rem 50vh 10rem;
    }

    .text {
        font-size: 2rem;
    }
}