.container {
  margin-top: 6rem;
  align-self: center;
}

.header {
  text-align: center;
  margin: 0 2rem 6rem 2rem;
}

.experienceContainer {
    margin-left: 2rem;
  }

@media (min-width: 767px) {
  .experienceContainer {
    margin-left: 4rem;
  }
}
